.container{
    background-color: red;
    height: 600px;
    width: 700px;
    display: grid;
    /* grid-template-columns: 133px 133px 133px;
    grid-template-rows: 133px 133px 133px; */
     /* gap: auto; */
     /* grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(3,1fr); */
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     row-gap: 15px;
     column-gap: 15px;
}

.item{
    background-color: #21dce6;
    /* height: 122px;
    width: 122px; */
}


.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}