.container{
    background-color: red;
    height: 720px;
    width: 900px;
    display: grid;
    grid-template-columns: 50% 30% 20%;
    /* gap: auto; */
    /* grid-template-rows: 133px 133px 133px; */
}

.item{
    background-color: #21dce6;
    height: 122px;
    width: 122px;
}